.myDiv {
    width: 100% !important;
    overflow: hidden !important;
}

.bg1 {
    z-index: -1;
    position: absolute;
    top: -10vh;
    height: 110vh;
    background-color: #ffffff;
    background-image: linear-gradient(to bottom right, #f96e0b5b, rgba(22, 234, 22, 0.269));
}

.mt-5 {
    margin-top: 15px;
}

.secTwo {
    color: black;
    padding: 100px 50px;
    background-image: "../../image/backimg1.jpg";
}

.secTwo p {
    text-align: center;
    font-size: 25px;
    color: #ffffff;
}

@media only screen and (max-width: 600px) {

    .bg1 {
        z-index: -1;
        position: absolute;
        top: -10vh;
        height: 110vh;
        background-color: #ffffff;
        background-image: linear-gradient(to bottom right, #f96e0b5b, rgba(22, 234, 22, 0.269));
    }
    
    .secTwo{
        color: black;
        padding: 10px 10px;
        background-image: "../../image/backimg1.jpg";
    }

    .secTwo p {
        text-align: justify;
        font-size: 25px;
        color: #ffffff;
    }

}