/* div {
    width: 100% !important;
    overflow: hidden !important;
}

.bg1 {
    z-index: -1;
    position: absolute;
    top: -10vh;
    height: 110vh;
    background-color: #ffffff;
    background-image: linear-gradient(to bottom right, #f96e0b5b, rgba(22, 234, 22, 0.269));
}

.heading{
    padding-top: 30vh;
    padding-left: 10vw;
    color: black;
}

.heading span{
    color: blue;
    font-size: 30px;
}

.heading h2{
    font-size: 35px;
    color: #F5822E;
}

.heading p{
    width: 600px;
    padding-top: 20px;
    color: black;
    font-size: 20px;
}

.mt-5{
    margin-top: 15px;
}

.secTwo{
    color: black;
    padding: 100px 50px;
    background-image: "../../image/backimg1.jpg";
}

.secTwo p{
    text-align: center;
    font-size: 25px;
    color: #ffffff;
} */