.final-drawer{
    animation: FadeIn 0.5s ease-in-out;
}

@keyframes FadeIn {
    from{
        width: 5%;
    }
    to{
        width: 15%;
    }
}

.close-drawer{
    animation: FadeOut 0.5s ease-in-out;
}

@keyframes FadeOut {
    from{
        width: 15%;
    }
    to{
        width: 5%;
    }
}